= form_for @ad do |f|
  -if @ad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ad.errors.count, "error")} prohibited this ad from being saved:"
      %ul
        - @ad.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :note
    = f.text_field :note
  .field
    = f.label :map_link
    = f.text_field :map_link
  .field
    = f.label :ad
    = f.text_field :ad
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :price_type
    = f.number_field :price_type
  .actions
    = f.submit 'Save'
